body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  background: url(bg.jpg);
  text-align: center;
}

input {
  border: 2px solid gray;
  border-radius: 5px;
  line-height: 25px;
}
